@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-hex: #F7F8FD;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-hex: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex)
}
